openapi: '3.0.2'
info:
  title: Financial Data Sharing API
  description: |-
    This a API documentation is a template for Financial Data Access Regulation (FIDAR)
    You can now help us improve the API whether it's by making changes to the definition itself or to the code.
    That way, with time, we can improve the API in general, and become as best practice for financial data sharing.

    For using, you just need to replace the servers with yours.
    You are free to add any specificity to this documentation but do not edit nor remove anything.

    Some useful links:
    - [FIDAR](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:52023PC0360)
    - [The source API definition (fidash)](https://github.com/fidash-api/fidash-api/blob/main/src/main/resources/fidash-api.yaml)
    - [OpenApi editor](https://editor.swagger.io/)
  version: '0.0.1'
  termsOfService: https://data.provider.com/term
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://data.provider.com/v0

tags:
  - name: auth
    description: Authentication and authorization
  - name: holding
    description: Holdings of the client
  - name: transaction
    description: Transactions of the client

paths:
  /meta:
    get:
      summary: Get meta data for this provider
      description: Returns meta data. This is available without auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Meta data of the Data Provider
                required:
                  - name
                type: object
                properties:
                  name:
                    type: string
                    example: Data Provider
                  logoUrl:
                    type: string
                    description: URL address to the logo of the Data Provider
                  bic:
                    type: string
                    description: BIC code of the Data Provider
                  lei:
                    type: string
                    description: LEI code of the Data Provider
                  contact:
                    type: object
                    description: Contact information where 3rd party user can request access to this API or ask for help
                    properties:
                      name:
                        type: string
                        description: Name of the contact person or team
                      email:
                        type: string
                      url:
                        type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /holdings:
    get:
      tags:
        - holding
      summary: Get all holdings of the client
      description: Returns a list of holdings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holding'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /valuation:
    get:
      tags:
        - holding
      summary: Get detailed valuation of holdings of the client
      description: Returns a list of valuations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/valuation'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /transactions:
    get:
      tags:
        - transaction
      summary: Get all Transactions of the client
      description: Returns a list of Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transaction'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /instruments/{id}:
    get:
      tags:
        - holding
      summary: Get all contracts of the client
      description: Returns a list of marketable and non-marketable products/contracts, aka. non standard contracts like forwards, loans, deposits etc.
      parameters:
        - name: id
          in: path
          required: true
          schema: 
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/instrument'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

components:
  schemas:
    holding:
      type: object
      properties:
        asOfDate:
          type: string
          format: 'date'
        id:
          type: string
          description: "internal unique ID of this holding"
        account:
          type: object
          properties:
            id:
              type: string
              description: "internal account id"
            href:
              type: string
              description: "link to the product in this API"
            name:
              type: string
              description: "short name"
            type:
              type: string
              description: "account type name like checking, investment, pention etc. (todo: enum?)"
        product:
          type: object
          properties:
            id:
              type: string
              description: "internal id"
            href:
              type: string
              description: "link to the product in this API"
            codes:
              type: object
              properties:
                ccy:
                  type: string
                  description: "currency in case of cash"
                isin:
                  type: string
                iban:
                  type: string
                citi:
                  type: string
                epic:
                  type: string
                sedol:
                  type: string
                mex:
                  type: string
                internal:
                  type: string
                  description: "todo: link"
            currency:
              type: string
              description: "instrument currency; todo: ISO"
        position:
          type: object
          properties:
            units:
              type: number
            type:
              type: string
              enum:
                - AMOUNT
                - QUANTITY
                - NATIONAL
                - LOT
            sign:
              type: string
              enum:
                - "-"
                - "+"
            cost:
              type: number
              description: "cost amount"
        valuation:
          type: object
          description: "quick access to valuation"
          properties:
            href:
              type: string
              description: "link to the detailed valuation in this API"
            amount:
              type: number
              description: "valuation amount in product currency"
            timestamp:
              type: string
              description: "the valuation datetime of the holding"
        place:
          type: string
          description: "cudodian, broker, giro, eurex, ddtd etc."
        pledged:
          type: object
          properties:
            size:
              type: number
              description: "in the same units type as the size of the holding"
            purpose:
              type: string
              description: "mortgage, loan, sale, redemption, subscription, repo etc."
            pledgee:
              type: string
              description: "bank, broker etc."
        accruals:
          type: number
          description: "todo"
        timestamp:
          type: string
          description: "UTC timestamp"
    
    valuation:
      type: object
      description: "current value of the holding"
      properties:
        asOfDate:
          type: string
          format: 'datetime'
        holding:
          type: object
          properties:
            id:
              type: string
              description: "internal unique ID of this holding"
            href:
              type: string
              description: "href to the holding"
        amount:
          type: object
          properties:
            local:
              type: number
            base:
              type: number
        type:
          type: string
          enum:
            - MARKETVALUE
            - DISCOUNTCASHFLOW
            - AMOURTIZATION
        price:
          type: object
          properties:
            value:
              type: number
            date:
              type: string
            currency:
              type: string
              description: "product currency"
        fx:
          type: object
          description: "fx to base currency; todo: ptf/account"
          properties:
            rate:
              type: number
            date:
              type: string
        pnl:
          type: object
          description: "all numbers are in ???? currency"
          properties:
            realized:
              type: number
            unrealized:
              type: number
            distributions:
              type: number
              description: "interest, dividend"
        timestamp:
          type: number
            
    transaction:
      type: object
      properties:
        property:
          type: integer

    
    instrument:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          minLength: 1
          description: Intenal unique identification of the instrument
        identities:
          type: array
          minItems: 1
          uniqueItems: true
          description: Commonly used identification codes of the instrument.
          items:
            type: object
            required:
              - code
              - value
            properties:
              code:
                type: string
                enum:
                  - ISIN
                  - IBAN
                  - CITI
                  - EPIC
                  - SEDOL
                  - MEX
                  - TELEKURS
                  - SEDOL
                  - FIGI
                  - TICKER
                description: Commonly used identity code, eg. TICKER used by CBOT/CME
              value:
                type: string
                minLength: 1
                description: The value of the code, eg. if the code is 'TICKER' thw value could be 'ESZ4'
            additionalProperties: false
            example: [{code: "TICKER", value: "ESZ4"}]
        category:
          type: string
          enum:
            - CASH_AND_EQUIVALENT
            - DEBT
            - EQUITY
            - FX
            - DERIVATIVE
            - INSURANCE
            - NON_MARKETABLE_ASSET
            - CASH_AND_OTHER
          description: "cash_and_other: cash + car/house, TODO: clear-up"
        type:
          type: string
          minLength: 1
          description: >
            Specification of the category, eg.:
              * cash, current account, investment account
              * Equity, stock, Private Equity
              * Gond, Treasury bill(T-bills), Corporate bond.
              * bank deposit, CD, ETD, loan, deposit
              * ETF, ETC
              * option (on stock, on index, on futures), warrant, CFD, certificate, Structured Products
              * REIT, house rental
              * Future, 
              * FX Spot, FX Forward, FX swap
              * FRA, MBS, CDO, interest rate swap
              * mutual fund
              * life insurance
              * cars, other valuables 
              * etc.
        name:
          type: string
          minLength: 1
          description: Name of the instrument
        description:
          type: string
          minLength: 1
          description: Short description of the instrument
        issued:
          type: object
          description: >
            Properties describing issuing the instrument.
          required:
            - by
            - name
          properties:
            by:
              type: string
              minLength: 1
              description: Name of the issuer
            on:
              type: string
              format: date
              minLength: 1
              description: Issued date or listed on exchange
            currency:
              type: string
              minLength: 3
              maxLength: 3
              pattern: ^[A-Z][A-Z][A-Z]$
              description: Instrument's denominated currency **ISO 4217** alphabetic code
            country:
              type: string
              minLength: 2
              maxLength: 2
              pattern: ^[A-Z][A-Z]$
              description: The **ISO 3166-1 alpha-2** country code where the instrument was issued
        trading:
          type: object
          required:
            - mic
          properties:
            mic:
              type: string
              minLength: 1
              default: OTC
              description: The **ISO 10383** code of the market where the instrument is trading
              example: XNAS
            market:
              type: string
              minLength: 1
              description: The name of the market where the instrument is trading
              example: NASDAQ
        quotation:
          type: object
          required:
            - frequency
          properties:
            frequency:
              type: string
              enum:
                - DAILY
                - TWINE(2-DAYS_TODP?)
                - WEEKLY
                - HALF-MONTHLY
                - MONTLY
                - QUARTERLY
                - SEMI-ANNUAL
                - YEARLY
                - PERPETUAL
              default: DAILY
            currency:
              type: string
              minLength: 3
              maxLength: 3
              pattern: ^[A-Z][A-Z][A-Z]$
              description: Pricing currency **ISO 4217** alphabetic code (It might be different than the issue)
            type:
              type: string
              enum:
                - UNIT
                - PRINCIPAL
              description: The instrument is quoted in UNIT or PRICIPAL
            value:
              type: number
              minimum: 0
              exclusiveMinimum: true
              description: >
                Face value of the instrument's quotation

                Eg.:
                  * loan: amount; deposit: amount; 
                  * bond: face value; equity: face value; 
                  * forward: main ccy amount; 
                  * option: face value; 
                  * valuables (car, house): purchase/cost amount ???? TODO: is it valid?
            fluctuation:
              type: number
              minimum: 0
              exclusiveMinimum: true
              default: 1
              description: Minimum price fluctuation, eg. ES Future = 0.25
        payment:
          type: object
          description: >
            Receivable or payable interest to/by the holder of the instrument.
            TODO: The `rate`, `amount` or both are required too
          required:
            - type
            - sign
          properties:
            type:
              type: string
              enum:
                - COUPON
                - INTEREST
                - DIVIDEND
                - AMOUNT
                - ZERO
              description: "interest rate type: coupon/interest; amount in case of Forwards/Swap/Repo/FRA"
            rate:
              type: object
              required:
                - value
                - rate
              properties:
                value:
                  type: number
                  description: >
                    The rate value of the payment.
                      * interest rate - in case of loan/deposit or bond;
                      * FX exchange rate - in case of forward
                type:
                  type: string
                  enum:
                    - FIXED
                    - VARIABLE
                    - FX
            amount:
              type: object
              description: The interest amount for example in case of annuality loan or insurance
              required:
                - value
                - currency
              properties:
                value:
                  type: number
                  minimum: 0
                  exclusiveMinimum: true
                  description: Amount
                currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  pattern: ^[A-Z][A-Z][A-Z]$
                  description: Amount currency **ISO 4217** alphabetic code
            sign:
              type: string
              enum: ["+", "-" ]
              description: >
                Sign of the instrument's payment from instrument holding entity perspective:
                  * + maens income
                  * - means payable
            shares:
              type: object
              description: >
                payment-in-kind ???? TODO: is it valid?
              properties:
                id:
                  type: string
                  description: internal product id
                quantity:
                  type: number
            periodicity:
              type: object
              minProperties: 1
              properties:
                frequency:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: >
                    The number to be devided by the 12 month: 
                      * 1 = once per year; 
                      * 2 = twice per year, 
                      * 4 = three times per year; 
                      * 3 = four times per year; 
                      * 6 = six times per year; 
                      * 12 = twelve times per year; 
                      * undefined = one payment only on `last` date (eg. zero coupon bond)
                accrualCalendar:
                  type: string
                  enum:
                    - 30/360_ISDA
                    - 30/360_PSA
                    - 30/360_SIA
                    - 30/360E
                    - 30/360E1
                    - ACT/360
                    - ACT/364
                    - ACT/365
                    - ACT/365_ISDA
                    - ACT/365_Japan
                    - ACT/ACT
                    - ACT/ACT_AFB
                first:
                  type: string
                  format: date
                  description: First interest payment
                dated:
                  type: object
                  description: Dated date payment day and month
                  properties:
                    day:
                      type: number
                    month:
                      type: number
                next:
                  type: string
                  format: date
                  description: Next interest payment (for dividend but any others)
                last:
                  type: string
                  format: date
                  description: Last interest payment
        expiration:
          type: object
          description: >
            Expiration of the instrument
              * maturity date for bonds;
              * expiration date for Futures and Forwards/Swap/Repo/FRA/Options
          required:
            - day # even Futures have day
            - month
            - year
          properties:
            day:
              type: integer
              minimum: 1
              maximum: 31
            month:
              type: integer
              minimum: 1
              maximum: 12
            year:
              type: integer
              minimum: 1
        underlying:
          type: object
          description: The underlying of the instrument
          required:
            - name
          properties:
            id:
              type: string
              minLength: 1
              description: Internal id of the underlying instrument if available (undefined for underlying like index, commodity, sp)
            name:
              type: string
              minLength: 1
              description: >
                The name of the underlying. Eg.: S&P 500, oil
              example: "S&P 500"
            size:
              type: number
              minimum: 0
              exclusiveMinimum: true
              description: >
                The Contract size of the underlying security, eg. ES Future: 50; for options it is usually 100
              example: 50
        option:
          type: object
          description: Properties related to options including certificates, Structured Products
          required:
            - type
            - strike
          properties:
            style:
              type: string
              enum:
                - AMERICAN
                - EUROPEAN
              description: American/European
              default: AMERICAN
            type:
              type: string
              enum:
                - PUT
                - CALL
              description: PUT/CALL
            strike:
              type: number  # futures can have negative prices
              description: Strike price
            barrier:
              type: number  # futures can have negative prices
              description: Barrier price
        pair:
          type: object
          required:
            - id
          properties:
            id:
              type: string
              minLength: 1
              description: The Internal identification of the other leg of the instrument pair. (eg. FX)
      additionalProperties: true  # it is allowed to provide additional properties if needed

    error:
      type: object
      required:
        - code
        - message
      properties:
        code: 
          type: string
          description: "todo: use small list of codes like https://cloud.google.com/apis/design/errors"
        message:
          type: string
        detail:
          type: string

    
    
    XXXproductDEL:
      type: object
      properties:
        id:
          type: string
          description: "internal id"
        identities:
          type: array
          properties:
            code:
              type: string
              enum:
                - CCY
                - ISIN
                - IBAN
                - CITI
                - EPIC
                - SEDOL
                - MEX
                - TELEKURS
                - SEDOL
                - FIGI
              description: "product identity codes"
            value:
              type: string
              description: "the value of the code"
        currency:
          type: string
          description: "instrument currency; todo: ISO"
        name:
          type: string
          description: "Name of the product"
        description:
          type: string
          description: "description of the product"
        quotation:
          type: string
          enum:
            - UNIT
            - PRINCIPAL
          description: "quoted in UNIT or PRICIPAL"
        main_type:
          type: string
          enum:
            - CASH_AND_EQUIVALENT
            - MONEY_MARKET
            - EQUITY
            - FIXED_INCOME
            - DERIVATIVE
            - INSURANCE
            - NON_MARKETABLE_ASSET
          description: "alternative types, MONEY_MARKET: loan, deposit; DERIVATIVE: future, forward, option, certificate, sp; NON_MARKETABLE_ASSET: car, house"
        type:
          type: string
          enum:
            - EQUITY
            - BOND
            - FUTURE
            - FORWARD
            - OPTION
            - CERTIFICATE
            - STRUCTURED_PRODUCT
            - FUND
            - LOAN
            - DEPOSIT
            - INSURANCE
            - OTHER
          description: "Certificate = option, SP = option. Other assets are like car, house etc.)"
        issuer:
          type: object
          properties:
            name: 
              type: string
              description: issuer's name
            identities:
              type: array
              properties:
                code:
                  type: string
                  enum:
                    - LEI
                    - TAX
                value:
                  type: string
            country:
              type: string
              description: country ISO code; todo
        issued:
          type: string
          format: 'date'
          description: "equity: date of listing; bond: issue date; other: purchase (created/built?????) date"
        amount:
          type: number
          description: "loan: amount; deposit: amount; bond: face value; equity: face value; forward: main ccy amount; option: face value; other: purchase/cost amount"
        interest:
          type: object
          properties:
            type:
              type: string
              enum:
                - COUPON
                - INTEREST
                - PIK
              description: "interest rate type: coupon/dividend/interest"
            rate:
              type: object
              properties:
                percent:
                  type: number
                  description: "loan: interest rate; deposit: interest rate; forward: fx rate"
                type:
                  type: string
                  enum:
                    - FIXED
                    - VARIABLE
            amount:
              type: object
              properties:
                value:
                  type: number
                  description: "amount"
                currency:
                  type: string
                  description: "currency ISO; todo"
            shares:
              type: object
              description: payment-in-kind
              properties:
                id:
                  type: string
                  description: internal product id
                quantity:
                  type: number
            periodicity:
              type: number
              description: "the number to be devided by the 12 month: 1 = once once/year; 2 = twice, 4 = three times; 3 = four times; 6 = six times; 12 = twelve times"
            payment:
              type: object
              description: Regular payment day and month
              properties:
                day:
                  type: number
                month:
                  type: number
            first:
              type: string
              format: 'date'
              description: "first interest payment"
        fund:
          type: object
          properties:
            type:
              type: string
              enum:
                - MUTUAL
                - ETF
            earning:
              type: string
              enum:
                - ACCUMULATING
                - DISTRiBUTING
        underlying:
          type: object
          properties:
            id:
              type: string
              description: "internal id of the underlying product if available (exclude: index, commodity, sp)"
            quantity:
              type: number
              description: "quantity of the underlying security"
        option:
          type: object
          description: also certificates
          properties:
            type:
              type: string
              enum:
                - AMERICAN
                - EUROPEAN
              description: "American/European"
            direction:
              type: string
              enum:
                - PUT
                - CALL
              description: "PUT/CALL"
            strike:
              type: number
              description: "Strike price"
            barrier:
              type: number
              description: Barrier price
        maturity:
          type: string
          format: 'date'
          description: "product maturity date"
