openapi: '3.0.2'
info:
  title: Financial Data Sharing API
  description: |-
    This a API documentation is a template for Financial Data Access Regulation (FIDAR)
    You can now help us improve the API whether it's by making changes to the definition itself or to the code.
    That way, with time, we can improve the API in general, and become as best practice for financial data sharing.

    For using, you just need to replace the servers with yours.
    You are free to add any specificity to this documentation but do not edit nor remove anything.

    Some useful links:
    - [FIDAR](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:52023PC0360)
    - [The source API definition (fidash)](https://github.com/fidash-api/fidash-api/blob/main/src/main/resources/fidash-api.yaml)
    - [OpenApi editor](https://editor.swagger.io/)
  version: '0.0.1'
  termsOfService: https://data.provider.com/term
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://data.provider.com/v0

tags:
  - name: auth
    description: Authentication and authorization
  - name: holding
    description: Holdings of the client
  - name: transaction
    description: Transactions of the client

paths:
  /meta:
    get:
      summary: Get meta data for this provider
      description: Returns meta data. This is available without auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Meta data of the Data Provider
                required:
                  - name
                type: object
                properties:
                  name:
                    type: string
                    example: Data Provider
                  logoUrl:
                    type: string
                    description: URL address to the logo of the Data Provider
                  bic:
                    type: string
                    description: BIC code of the Data Provider
                  lei:
                    type: string
                    description: LEI code of the Data Provider
                  contact:
                    type: object
                    description: Contact information where 3rd party user can request access to this API or ask for help
                    properties:
                      name:
                        type: string
                        description: Name of the contact person or team
                      email:
                        type: string
                      url:
                        type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /holdings:
    get:
      tags:
        - holding
      summary: Get all holdings of the client
      description: Returns a list of holdings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holding'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /valuation:
    get:
      tags:
        - holding
      summary: Get detailed valuation of holdings of the client
      description: Returns a list of valuations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/valuation'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /transactions:
    get:
      tags:
        - transaction
      summary: Get all Transactions of the client
      description: Returns a list of Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transaction'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

  /contracts:
    get:
      tags:
        - holding
      summary: Get all contracts of the client
      description: Returns a list of contracts, aka. non standard contracts like forwards, loans, deposits etc.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contract'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'

components:
  schemas:
    holding:
      type: object
      properties:
        asOfDate:
          type: string
          format: 'date'
        id:
          type: string
          description: "internal unique ID of this holding"
        account:
          type: object
          properties:
            id:
              type: string
              description: "internal account id"
            href:
              type: string
              description: "link to the product in this API"
            name:
              type: string
              description: "short name"
            type:
              type: string
              description: "account type name like checking, investment, pention etc. (todo: enum?)"
        product:
          type: object
          properties:
            id:
              type: string
              description: "internal id"
            href:
              type: string
              description: "link to the product in this API"
            codes:
              type: object
              properties:
                ccy:
                  type: string
                  description: "currency in case of cash"
                isin:
                  type: string
                iban:
                  type: string
                citi:
                  type: string
                epic:
                  type: string
                sedol:
                  type: string
                mex:
                  type: string
                internal:
                  type: string
                  description: "todo: link"
            currency:
              type: string
              description: "instrument currency; todo: ISO"
        position:
          type: object
          properties:
            units:
              type: number
            type:
              type: string
              enum:
                - AMOUNT
                - QUANTITY
                - NATIONAL
                - LOT
            sign:
              type: string
              enum:
                - "-"
                - "+"
            cost:
              type: number
              description: "cost amount"
        valuation:
          type: object
          description: "quick access to valuation"
          properties:
            href:
              type: string
              description: "link to the detailed valuation in this API"
            amount:
              type: number
              description: "valuation amount in product currency"
            timestamp:
              type: string
              description: "the valuation datetime of the holding"
        place:
          type: string
          description: "cudodian, broker, giro, eurex, ddtd etc."
        pledged:
          type: object
          properties:
            size:
              type: number
              description: "in the same units type as the size of the holding"
            purpose:
              type: string
              description: "mortgage, loan, sale, redemption, subscription, repo etc."
            pledgee:
              type: string
              description: "bank, broker etc."
        accruals:
          type: number
          description: "todo"
        timestamp:
          type: string
          description: "UTC timestamp"
    
    valuation:
      type: object
      description: "current value of the holding"
      properties:
        asOfDate:
          type: string
          format: 'datetime'
        holding:
          type: object
          properties:
            id:
              type: string
              description: "internal unique ID of this holding"
            href:
              type: string
              description: "href to the holding"
        amount:
          type: object
          properties:
            local:
              type: number
            base:
              type: number
        type:
          type: string
          enum:
            - MARKETVALUE
            - DISCOUNTCASHFLOW
            - AMOURTIZATION
        price:
          type: object
          properties:
            value:
              type: number
            date:
              type: string
            currency:
              type: string
              description: "product currency"
        fx:
          type: object
          description: "fx to base currency; todo: ptf/account"
          properties:
            rate:
              type: number
            date:
              type: string
        pnl:
          type: object
          description: "all numbers are in ???? currency"
          properties:
            realized:
              type: number
            unrealized:
              type: number
            distributions:
              type: number
              description: "interest, dividend"
        timestamp:
          type: number
            
    transaction:
      type: object
      properties:
        property:
          type: integer
    contract:
      type: object
      properties:
        property:
          type: integer
    error:
      type: object
      required:
        - code
        - message
      properties:
        code: 
          type: string
          description: "todo: use small list of codes like https://cloud.google.com/apis/design/errors"
        message:
          type: string
        detail:
          type: string